
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto+Slab:wght@300;400;600;700&display=swap');
*/

/*
  --mainColor:#00577B;
  --secondColor:#4AB5E2;
  --GrayColor:#777777;
  --bg-white:#F5F6F7;
  --bg-light-alsea:#EDF1F3;
*/
/*
*{
  box-sizing: border-box;
}
html{
  min-height: 100%;
  position: relative;
  height: 100vh;
}
body{
  margin: 0 auto;
  font-size: 14px;
  background-color: #F5F6F7;
}*/
.style_card__3it7_{
  min-height: 100%;
}
.style_color-main__1jecX{
  color: #00577B;
}
.style_color-second__32Wsx{
  color: #4AB5E2;
}
.style_h2__2qv_3{
font-family: 'Roboto Slab', serif;
font-weight: 600;
}
.style_btnMain__3JXRO{
  min-width: 150px;
  border-radius: 30px;
}
.style_btn-main-alsea-color__1m67D{
  color: #FFF;
  background-color: var(--mainColor);
}
.style_btn-main-alsea-color__1m67D:hover{
  color: #FFF;
  background-color: #2C97C4;
}
.style_btn-main-alsea__2Dmow{
  color: #FFF;
  background-color: var(--secondColor);
}
.style_btn-main-alsea__2Dmow:hover{
  color: #FFF;
  background-color: #2C97C4;
}
.style_btn-green__1lILO{
  color: #FFF;
  background-color: #5BC780;
}
.style_btn-green__1lILO:hover{
  color: #FFF;
  background-color: #42c16d;
}
.style_bg-light-alsea__6QdoB{
  background-color: #EFFAFF;
}



/* main Content */

.style_card-header__19OjL {
  padding: 5px 10px;
  margin-bottom: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.style_card-body__3Jk1N {
  padding: 5px 10px;
}
.style_imgHeader__NAvjt{
  max-width: 50px;
  height: 50px;
}



/* table */
.style_imageTable__2LGE-{
  max-width: 50px;
}
#style_tableAlsea__1NZi7{ 
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  color: #777777;
}
.style_alseaDashRight__1Z-TY{
  border-right: 1px dashed var(--secondColor);
}
#style_tableAlsea__1NZi7 thead{
  background: #00577b;
  background: -webkit-linear-gradient(left,  #00577b 0%,#4ab5e2 100%);
  background: linear-gradient(to right,  #00577b 0%,#4ab5e2 100%);
}
.style_th__34NrX { 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00577b', endColorstr='#4ab5e2',GradientType=1 );
  color:white;
  font-weight: normal;
  font-weight: bold;
}
.style_td__1EGIm, .style_th__34NrX { 
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.style_td__1EGIm a{
  color: var(--secondColor);
  text-decoration: underline;
}
.style_tr__vfFil{
  border-top: 1px solid #CCCCCC;
}
.style_li__2YQ7d {list-style:none;}
#style_tableAlsea__1NZi7 ul{
  padding: 0;
  margin: 0;
}
/*@media (max-width: 991px) {
table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr { 
	display: block; 
}
.responsive thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.responsive tr { border: 1px solid #ccc; }
.responsive td { 
	border: none;
	position: relative;
	padding-left: 50%; 
}
.responsive td:before { 
	position: absolute;
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
}
.responsive td:before { content: attr(data-table-header); }
}*/
.style_btn-circle-table__3GiCh{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 10px;
}
/* pagination */
.style_page-link__3IuxQ {
  color: var(--mainColor);
  border: 1px solid #cccccc;
}
.style_page-item__3E7Dj.style_active__e2Onl .style_page-link__3IuxQ {
  z-index: 3;
  color: #fff;
  background-color: var(--mainColor);
  border-color: transparent;
}
.style_custom-control-input__3jeCD:checked ~ .style_custom-control-label__2LXu0::before {
  color: #fff;
  border-color: var(--mainColor);
  background-color: var(--mainColor);
}


